@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------- Theme -----------*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.theme {
  position: relative;
  background-image: linear-gradient(180deg, #bece7a, #90a955, #4f772d, #31572c);
  z-index: 1;
}

.theme::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, #3e5c76, #1d2d44, #0d1321);
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.theme.dark::before {
  opacity: 1;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*----------- Nav Item Effect -----------*/

.nav-item:hover {
  text-shadow:
    0 0 5px #83f353,
    0 0 15px #83f353,
    0 0 20px #83f353,
    0 0 40px #83f353,
    0 0 60px #83f353,
    0 0 10px #ff8d00,
    0 0 98px #ff8d00;
}

/*----------- Card Animation -----------*/

.container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.front {
  border-radius: 5px;
  text-align: center;
  color: #000;
  backface-visibility: visible;
}

.back {
  backface-visibility: visible;
  background: rgb(255 255 255 / 0.75);
  border: 2px solid #000;
  border-radius: 10px;
}

.front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #000;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  position: absolute;
  background: orange;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

/*----------- Glowing Buttons -----------*/

.glowing_btn {
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.green:hover {
  box-shadow:
    0 0 5px rgb(190, 254, 195),
    0 0 25px rgb(190, 254, 195),
    0 0 50px rgb(190, 254, 195),
    0 0 100px rgb(190, 254, 195);
}

.orange:hover {
  box-shadow:
    0 0 5px rgb(251, 208, 46),
    0 0 25px rgb(251, 208, 46),
    0 0 50px rgb(251, 208, 46),
    0 0 100px rgb(251, 208, 46);
}

/*----------- Projects Animation -----------*/

.project-container {
  display: flex;
}

.project-row { 
  transition: width 0.3s ease;

  /* background-color: pink; */
}

.project {
  transition: width 0.5s ease;
}

.info-layer {
  transition: width 0.8s ease;
}

.project-row:hover {
  width: 100%;
}

.project:hover {
  width: 85%;
}

.project:hover .info-layer {
  transition-delay: 0.5s;
  width: 95%;
}

.project-container:nth-child(even) {
  justify-content: flex-end;
}
